body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.pacifico-regular {
  font-family: 'Pacifico', cursive;
  color: white; /* Adiciona cor branca ao texto do título */
}

.btn {
  text-align: center;
  margin-top: 20px;
}

.btn button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn button:hover {
  background-color: #45a049;
}

.btn button a {
  text-decoration: none;
  color: inherit;
}